/* Start Variables  */
:root {
    --main-color:#19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --paragraph-color: #777;
}
/* End Variables  */
/* Start Global Rules  */
* {
  -web-kit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small  */
@media (min-width: 768px) {
    .container {
        width: 750;
    }
}
/* medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large  */
@media (min-width: 1250px) {
    .container {
        width: 1200px;
    }
}
/* End Global Rules  */
/* Start Components  */
.main-heading {
text-align: center;
}
.main-heading h2 {
    margin: auto;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 70px;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 130px;
    bottom: 42px;
    background-color: #333;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
    width: 14px;
    bottom: 35px;
    background-color: rgb(247, 238, 238);
    border-radius: 50%;
    border: 1px solid #333;
}
.main-heading p {
    width: 550px;
    max-width: 100%;
    color: var(--paragraph-color);
    margin: 0 auto  100px;
    line-height: 2;
}

/* End Components  */

/* Start Header  */
/* .header {

} */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
.header .container::after {
    content: "";
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    height: 2px;
    position: absolute;
    bottom: 0;
}
.header .container nav {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header nav .toggle-menu {
    color: white;
    font-size: 20px;
}
@media (min-width: 767px) {
    .header nav .toggle-menu {
        display: none;
    }
}
.header .container nav ul {
    display: flex;
}
@media (max-width: 767px) {
    .header .container nav ul {
        display: none;
    }
    .header .container nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background-color: rgb (0 0 0 / 50%);
    }
}
.header .container nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}
.header .container nav ul li a.active,
.header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
.header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header  */

/* Start Landing  */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../Images/landing.jpg");
    background-size: cover;
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
}
.landing .text {
    position: absolute;
    left: 1;
    top: 50%;
    transform:translateY(-50%);
    width: 50%;
    padding: 20px;
    margin-top: 40px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 80%;
}
@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
        text-align: center;
    }
    .landing .change-background {
        display: none;
    }

}
.landing .text .content h2 {
font-size: 23px;
font-weight: normal;
line-height: 1.5;
margin-bottom: 20px;
}
.landing .text .content p {
font-size: 14px;
line-height: 2;
}
.landing .change-background {
    position: absolute;
    color: #DDD;
    top: 50%;
    transform: translateY(-50%);
}
.landing .fa-angle-left {
 left: 30px;
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .bullets {
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 display: flex;
 bottom: 30px;
}
.landing .bullets li {
 width: 15px;
 height: 15px;
 border: 1px solid var(--main-color);
 border-radius: 50%;
 margin-left: 5px;
}
.landing .bullets li.active {
    background-color: var(--main-color);
}
/* End Landing  */

/* Start Services  */
    .services {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
    }
    @media (min-width: 768px) {
        .services .services-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(450px ,1fr));
            grid-column-gap: 40px;
            grid-row-gap: 60px;
        }
    }
    .services .services-container .srv-box {
        display: flex;
    }
    .services  .srv-box i {
        margin-right: 50px;
    }
    @media (max-width: 767px) {
        .services  .srv-box {
            flex-direction:column ;
            text-align: center;
            margin-bottom: 40px ;
        }
        .services  .srv-box i {
            margin: 0 0 30px;
        }
    }
    .services  .srv-box .text h3 {
        margin-bottom: 30px;
        color: var(--main-color);
    }
    .services  .srv-box .text p {
        line-height: 2;
        color: var(--paragraph-color);
    }
/* End Services  */

/* Start Design  */
    .design {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        background-image: url(../Images/Design\ background.jpg);
        background-size: cover;
        height: 600px;
        position: relative;
        align-items: center;
        display: flex;
        overflow: hidden;
        justify-content: space-between;

    }
    .design::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    }
    
    .design .image,
    .design .text {
    position: relative;
    z-index: 2;
    flex: 1;
    }
    .design .image {
    text-align: center;
    }
    @media (max-width:767px) {
        .design .image {
            display: none;
        }
    }
    .design img {
        max-height: 100%; 
        max-width: 100%;
    }

    .design .text {
        color: white;
        background-color: var(--transparent-color);
        padding: 30px;
        position: relative;
        flex: 1;
    }
    .design .text h2 {
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .design .text li {
        padding: 15px 0;
    }
    .design .text li::before {
        font-family: "Font Awesome 5 Free";
        content: "\f108";
        font-weight: 900;
        position: relative;
        top: 1;
        margin-right: 20px;
    }
/* End Design  */

/* Start Portoflio  */
    .portfolio {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
    }
    .portfolio .shuffle {
        display: flex;
        justify-content: center;
    }
    .portfolio .shuffle li {
        padding: 10px;
    }
    .portfolio .shuffle li.active {
        color: white;
        background-color: var(--main-color);
    }
    .portfolio .img-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    .portfolio .img-container .box {
        position: relative;
        overflow: hidden;
    }
    .portfolio .img-container .box:hover .caption {
        bottom: 0;
    }
    .portfolio .img-container .box img:hover {
        transform: rotate(3deg) scale(1.1);
    }
    @media (min-width: 1199px) {
    .portfolio .img-container .box {
        flex-basis: 25%;
        overflow: hidden;
    }
}
    @media (min-width: 767px) {
        .portfolio .img-container .box {
            flex-basis: 50%;
            overflow: hidden;
        }
}
    .portfolio .img-container .box img {
        max-width: 100%;
    }
    .portfolio .img-container .box .caption {
        position: absolute;
        width: 100%;
        padding: 20px;
        left: 0;
        bottom: -100px;
        background-color: white;
        transition: 0.3s;
    }
    .portfolio .img-container .box .caption h4 {
        padding: 10px;
        font-weight: normal;
    }
    .portfolio .img-container .box .caption p {
        color: var(--main-color);
    }
    .portfolio .more {
        text-align: center;
        color: white;
        background-color: var(--main-color);
        margin: 30px auto;
        display: block;
        padding: 15px 20px;
        width: fit-content;
        text-transform: uppercase;
        text-decoration: none;
    }
/* End Portoflio  */

/* Start Video  */
    .video {
        position: relative;
    }
    .video::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
    }
    .video video {
        width: 100%;
    }
    .video .text {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--transparent-color);
        color: white;
        text-align: center;
        padding: 50px;
    }
    @media (max-width: 600px) {
        .video .text  {
            padding: 15px;
        }
    }
    .video .text h2 {
        font-weight: normal;
    margin-bottom: 25px;
    text-transform: uppercase;
    }
    .video .text p {
        font-weight: normal;
    margin-bottom: 25px;
    font-size: small;
    }
    .video .text button {
        padding: 5px 15px;
    background-color: #222;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
}
/* End Video  */

/* Start About  */
.about {
    text-align: center;
    padding-top: var(--section-padding) ;
    overflow: hidden;
}
.about img {
    position: relative;
    bottom: -200px;
    margin-top: -200px;
    max-width: 100%;
}
@media (max-width: 567px) {
    .about img {
    bottom: -150px;
    margin-top: -200px;
    }
}
/* End About  */

/* Start Statis  */
.statis {
    background-image: url(../Images/background-for-statis.jpg);
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    position: relative;
}
.statis::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 70%);
}
.statis .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
}
.statis .container .box {
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
}
@media (max-width: 767px) {
    .statis .container .box {
        flex-basis: 90%;
        margin: auto;    
    }   
}
@media (min-width: 768px) {
    .statis .container .box {
        flex-basis: 50%;
    }   
}@media (min-width: 990px) {
    .statis .container .box {
        flex-basis: 25%;
    }   
}
    .statis .container .box i {
        background-color: black;
        border: 2px solid black;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding-top: 5px;
        margin-bottom: 20px;
    } 
    .statis .container .box .number {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .statis .container .box p {
        font-size: 14px;
    }
/* End Statis  */

/* Start Skills  */
    .our-skills {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
    }
    .our-skills .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }
    @media (min-width: 767px){
    .our-skills .container > div {
        flex-basis: 45%;
    }
}
    .our-skills .container > div > h3 {
        font-weight: normal;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .our-skills .container > div > p  {
        margin-bottom: 30px;
        line-height: 2;
        color: var(--paragraph-color);
    }
    .our-skills .container .testimonials .content {
        display: flex;
        flex-wrap: nowrap;
        flex: 1;
        justify-content: space-between;
    }
    .our-skills .container .testimonials .content img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: -5px 46px 40px 10px;
    }
    .our-skills .container .testimonials .content .text {
        margin: 10px;
        text-align: left;
        font-size: 15px;
        position: relative;
        color: #222;
    }
    @media (max-width: 767px){
        .our-skills .container .testimonials .content {
            flex-direction: column;
            text-align: center;
        
        }
        .our-skills .container .testimonials .content img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto 20px;
        
        }
        .our-skills .container .testimonials .content .text {
            margin: 10px;
            text-align: center;
            font-size: 15px;
            position: relative;
            color: #222;
            border-bottom: 1px solid #a6d2d6;
        }
    }
    

    .our-skills .container .testimonials .content p {
        text-align: right;
        margin-top: 5px;
        color: #a2a2a2;
        font-weight: bold;
        font-size: 12px;
        border-bottom: 1px solid rgba(72, 174, 241, 0.747);

    }

  .our-skills .container .testimonials .bullets {
    position: relative;
    margin: 10px auto 10px;
    display: flex;
    justify-content: center;
  }
  .our-skills .container .testimonials .bullets li {
    border: 1px solid black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.our-skills .container .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .container .skills .prog-holder {
    margin-bottom: 40px;
}
.our-skills .container .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}
.our-skills .container .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;

}
.our-skills .container .skills .prog-holder .prog span {
    height: 30px;
    position: relative;
    background-color: var(--main-color);
    display: block;
}
.our-skills .container .skills .prog-holder .prog span::after {
    content: attr(data-progress);
    position: absolute;
    width: 30px;
    height: 20px;
    color: white;
    background-color: black;
    font-size: 15px;
    right: -15px;
    top: -40px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
}
.our-skills .container .skills .prog-holder .prog span::before {
    content: "";
    position: absolute;
    border-width: 9px;
    border-style: solid;
    border-color: black transparent transparent;
    right: -8px;
    top: -12px;
}
/* End Skills  */

/* Start Quotes  */
 .quotes {
     padding-top: var(--section-padding);
     padding-bottom: var(--section-padding);
     background-image: url(../Images/quote.jpg);
     background-size: cover;
     height: 300px;
     position: relative;
 }
 .quotes::after {
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgb(0 0 0 / 45%);
 }
 .quotes .container {
     text-align: center;
     z-index: 2;
   
 }
 .quotes q::before {
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    font-weight: 600;
    position: relative;
    top: -10px;
    margin-right: -5px;
}
 .quotes q {
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
    text-decoration: none;
    font-size: 30px;
 }
 .quotes q::after {
    font-family: "Font Awesome 5 Free";
    content: "\f10e";
    font-weight: 600;
    position: relative;
    top: -6px;
    margin-left: 2px;
}

 .quotes  p {
    color: white;
    margin-top: 15px;
    font-size: 15px;
    z-index: 2;
    position: relative;
 }
/* End Quotes  */

/* Start Pricing  */
 .pricing {
     padding-top: var(--section-padding);
     padding-bottom: var(--section-padding);
 }
 .pricing .plans {
     display: grid;
     grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
     gap: 30px;
 }
 .pricing .plans .plan {
     text-align: center;
     background-color: #fcfcfc;
 }
 .pricing .plans .plan .head {
     padding: 40px 20px;
     border-top: 1px solid var(--main-color);
     border-bottom: 1px solid var(--main-color);
 }
 .pricing .plans .plan .head .h {
     font-weight: normal;
     text-transform: uppercase;
     margin-bottom: 20px;
 }
 .pricing .plans .plan .head span {
    font-size: 60px;
 }
 .pricing .plans .plan .head span::after {
    content: "/MO";
    position: relative;
    right: -10px;
    font-size: 20px;
 }
 .pricing .plans .plan .head span::before {
    content: "$";
    position: relative;
    font-size: 20px;
    top: -35px;
    left: -2px;
 }
 .pricing .plans .plan ul {
     border-bottom: 1px solid var(--main-color);
 }
 .pricing .plans .plan ul li {
     padding: 20px 10px;
     position: relative;
 }
 .pricing .plans .plan ul li:not(:last-child)::after {
     content: "";
     position: absolute;
     width: 50%;
     height: 1px;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     background-color: var(--main-color);
 }
 .pricing .foot {
     padding: 40px;
 }
 .pricing .foot a {
     text-decoration: none;
     padding: 10px 25px;
     border: 1px solid var(--main-color);
 } 
 .pricing .contact-us {
     padding: 40px;
     text-align: center;
 }
 .pricing .contact {
     text-align: center;
     text-transform: capitalize;
 }
 .pricing .contact a {
     text-decoration: none;
     color: white;
     padding: 10px 25px;
     background-color: var(--main-color);
 }
/* End Procing  */

/* Start Subscribe  */
 .subscribe {
     padding-top: var(--section-padding);
     padding-bottom: var(--section-padding);
     background-image: url(../Images/Subscribe.png);
     background-size: cover;
     position: relative;
    
 }
 .subscribe::before{
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgb(0 0 0 / 40%);
 }
 .subscribe .container {
     position: relative;
     display: flex;
     justify-content: center;
     
 }
 @media (max-width: 991px) {
     .subscribe .container {
         flex-direction: column;
     }
 }
 .subscribe .container form {
    display: flex;
    position: relative;
    width: 700px;
    max-width: 100%;
    
 }
 .subscribe .container form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: white;
 }
 .subscribe .container form input[type="email"] {
     padding: 20px 20px 20px 60px;
    background: none;
    border: 1px solid white;
    border-right: none;
    color: white;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
 }
 .subscribe .container form ::placeholder {
     color: white;
 }
 .subscribe .container form input[type="submit"] {
    width: 130px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid white;
    border-left: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
 }
 .subscribe .container form input[type="email"]:focus,
 .subscribe .container form input[type="submit"]:focus {
    outline: none;
 }
 .subscribe .container p {
     line-height: 2;
     color: white;
     padding-left: 20px;
 }
 @media (max-width: 991px) {
     .subscribe p {
         margin: 20px 0 0;
     }
 }
/* End Subscribe  */

/* Start Contact Us  */
 .contact {
     padding-top: var(--section-padding);
     padding-bottom: var(--section-padding);
 }
 .contact .content {
     display: flex;
     justify-content: space-between;
 }
 @media (max-width: 767px) {
     .contact .content {
     flex-direction: column;
    }
    .contact .content .info {
        order: -1;
        text-align: center;
        margin-bottom: 40px;
    }
    .contact .content form input[type="submit"] {
    margin: auto;
    }
 }
 .contact .content form {
     flex-basis: 70%;
 }
 .contact .content form .main-input {
     border: 1px solid #dedadc;
     width: 100%;
     display: block;
     margin-bottom: 30px;
     padding: 10px;
 }
 .contact .content form .main-input:focus {
     outline: none;
 }
 .contact .content form textarea.main-input {
     height: 200px;
 }
 .contact .content form input[type="submit"] {
     color: white;
     background-color: var(--main-color);
     border: none;
     padding: 20px;
     text-transform: uppercase;
     display: flex;
     margin-left: auto;
     cursor: pointer;
 }
 .contact .content .info {
     flex-basis: 25%;
 }
 .contact .content .info h4 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;

 }
    .contact .content .info span {
        display: block;
        color: #777;
        margin-bottom: 10px;
    }
        .contact .content .info h4:nth-of-type(2) {
            margin-top: 45px;
        }
        .contact .content .info address{
            color: #777;
            line-height: 2;
         }
/* End Contact Us  */

/* Start Footer  */
.footer {
    padding-top: var(--section-padding );
    padding-bottom: calc(var(--section-padding) / 2);
    background-image:url(../Images/Footer-background.jpg);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.footer::before {
    content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgb(0 0 0 / 40%);
}
.footer .container {
    position: relative;
}
.footer img {
    margin-bottom: 10px;
}
.footer p:not(.copy-rights) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}
.footer .social-icons i {
    padding: 10px 15px;
}
.footer .copy-rights {
 margin-top: 80px;
}
.footer .copy-rights span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer  */